html, body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
    background-color: white;
    color: #2d3844;
    font-weight: 500;
}

.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-primary-edugami {
    width: 200px;
    background-color: #f47b4f;
    border-color: #f47b4f;
    color: white;
    border-radius: 10px;
}

.btn-primary-edugami:hover {
    background-color: #d0643c;
    font-weight: bold;
    color: white;
    transition: 0.6s ease;
}